<section class="top-info">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <ul class="top-menu-left">
                        <li><a href="tel:0568095135">Phone:0568095135</a></li>
                        <li><span>|</span></li>
                        <li><a href="mailto:yumeshop@gmail.com">Mail:yumeshop@gmail</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="top-menu-right">
                    <li><a href="login.php">Giới thiệu</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Giao hàng toàn quốc</a></li>
                    <li><a href="">Than phiền góp ý</a></li>
                    <li><a href="login.php"><i class="far fa-user"></i></a></li>
                    <li><a href="#" id="down-tg"><i class="fas fa-sort-down"></i></a>
                        <ul class="submenu-right">
                            <li><a href="">Danh sách cửa hàng</a></li>
                            <li><a href="">Chính sách đổi trả</a></li>
                            <li><a href="">Chính sách bảo mật thông tin</a></li>
                            <li><a href="">Hihi</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section class="header">
    <div class="container">
        <div class="col-md-2">
            <div id="logo">
                <a><img src="https://www.mwcstore.net/Resources/Config/2020/06/28/logo.jpg"></a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="primary-menu">
                <ul class="category">
                    <li id="item-ao">
                        <a><span class="icon"><img src="https://www.mwc.com.vn/Resources/Category/2020/03/22/ao-tap-nam.png"></span>
              ÁO
            </a>
                        <ul class="submenu-item-ao">
                            <li><a href="master-page.php?page_layout=product-ao">ÁO THUN TAY NGẮN</a></li>
                            <li><a href="master-page.php?page_layout=product-ao">ÁO THUN TAY DÀI</a></li>
                            <li><a href="master-page.php?page_layout=product-ao">ÁO KHOÁC BÓNG CHÀY</a></li>
                            <li><a href="master-page.php?page_layout=product-ao">ÁO KHOÁC HOT TREND</a></li>
                            <li><a href="master-page.php?page_layout=product-ao">ÁO LEN</a></li>
                        </ul>
                    </li>

                    <li id="item-quan">
                        <a href="master-page.php?page_layout=product-quan"><span class="icon"><img src="https://www.mwc.com.vn/Resources/Category/2018/08/02/main-menu-icon-nam.png"></span>
              QUẦN
            </a>
                        <ul class="submenu-item-quan">
                            <li><a href="master-page.php?page_layout=product-quan">QUẦN JEAN DÀI</a></li>
                            <li><a href="master-page.php?page_layout=product-quan">QUẦN JEAN NGẮN</a></li>
                            <li><a href="master-page.php?page_layout=product-quan">QUẦN SOOC</a></li>
                            <li><a href="master-page.php?page_layout=product-quan">QUẦN TÂY NỮ</a></li>
                            <li><a href="master-page.php?page_layout=product-quan">QUẦN BÒ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="master-page.php?page_layout=sale-product"><span class="icon"><img src="https://www.mwc.com.vn/Resources/Category/2018/08/24/img-sale-5-e58148bd-f8b8-49a1-8635-a0df5012587d.png"></span>
            SALE 10%</a>
                    </li>
                    <li>
                        <a href="master-page.php?page_layout=sale-product"><span class="icon"><img src="https://www.mwc.com.vn/Resources/Category/2018/08/24/img-sale-5-e58148bd-f8b8-49a1-8635-a0df5012587d.png"></span>
            SALE 20%</a>
                    </li>
                    <li>
                        <a href="master-page.php?page_layout=sale-product"><span class="icon"><img src="https://www.mwc.com.vn/Resources/Category/2018/08/24/img-sale-5-e58148bd-f8b8-49a1-8635-a0df5012587d-9fbb6a0b-7570-4e31-87b6-0513fc3b5a0f.png"></span>
            SALE 50%</a>
                    </li>
                    <li id="item-giay">
                        <a href="master-page.php?page_layout=product-quan"><span class="icon"><img src="https://www.mwc.com.vn/Resources/Category/2018/08/02/main-menu-4.png"></span>
              GIÀY
            </a>
                        <ul class="submenu-item-giay">
                            <li><a href="#">GIÀY THỂ THAO</a></li>
                            <li><a href="#">GIÀY CAO GÓT</a></li>
                            <li><a href="#">GIÀY SANDAL</a></li>
                            <li><a href="#">GIÀY BÚP BÊ</a></li>
                            <li><a href="#">GIÀY LƯỜI</a></li>
                        </ul>
                    </li>
                    <li id="item-tui">
                        <a href="master-page.php?page_layout=product-quan"><span class="icon"><img src="https://www.mwc.com.vn/Resources/Category/2020/03/22/ba-lo-quai-cheo.png"></span>
            TÚI</a>
                        <ul class="submenu-item-tui">
                            <li><a href="#">GIÀY THỂ THAO</a></li>
                            <li><a href="#">GIÀY CAO GÓT</a></li>
                            <li><a href="#">GIÀY SANDAL</a></li>
                            <li><a href="#">GIÀY BÚP BÊ</a></li>
                            <li><a href="#">GIÀY LƯỜI</a></li>
                        </ul>
                    </li>
                    <li id="item-mu">
                        <a href="master-page.php?page_layout=product-quan"><span class="icon"><img src="https://www.mwc.com.vn/Resources/Category/2020/03/22/ao-tap-nam.png"></span>
            MŨ</a>
                        <ul class="submenu-item-mu">
                            <li><a href="#">GIÀY THỂ THAO</a></li>
                            <li><a href="#">GIÀY CAO GÓT</a></li>
                            <li><a href="#">GIÀY SANDAL</a></li>
                            <li><a href="#">GIÀY BÚP BÊ</a></li>
                            <li><a href="#">GIÀY LƯỜI</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="icon"><img src="https://www.mwc.com.vn/Resources/Category/2018/11/06/45434310-1970581836364173-1044894057681125376-n.jpg"></span>
            PHỤ KIỆN</a>
                    </li>
                </ul>
                <div class="search">
                    <div class="form">
                        <form name="sform" method="post" action="master-page.php?page_layout=search-product">
                            <input onfocus="searchFocus();" onblur="searchBlur();" type="text" name="stext" value="Tìm kiếm sản phẩm" id="search-header">
                            <button class="btn-search" style="border: none;background: white;right: 11px;
            top: 2px;" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="hotline">
                    <i class="fas fa-phone"></i> Đặt hàng nhanh :
                    <span>19001900</span>
                </div>
            </div>
            <div class="cart" style="position: relative;">
                <span id="shop"><a href="cart-product.php" ><i class="fas fa-shopping-cart"></i></a></span>
            </div>
        </div>
    </div>
</section>
<section class="baner">
    <div>
        <img src="https://www.mwcstore.net/Resources/Slider/2021/03/24/95cce900f45906075f48.jpg" style="width: 100%;">
    </div>
</section>
