<footer class="footer">
    <div class="container" style="text-align: center;">
        <img src="https://www.mwcstore.net/Resources/Config/2020/06/28/logo.jpg">
        <h2 style="color: #fff;"><i>YUME "KHẲNG ĐỊNH PHONG CÁCH RIÊNG"</i></h2>
        <hr>
        <p style="text-align: left; color: #fff">
            Công ty TNHH Sản xuất thương mại dịch vụ YUME<br> Địa chỉ: Số 7 đường Gò Đại, X.Diên Sơn, H. Diên Khánh, T. Khánh Hòa<br> Call : 0568095135 (Ms.TD)
        </p>
    </div>

</footer>
